STARKNET_MAINNET_RPC=<YOUR_MAINNET_RPC_URL>
STARKNET_GOERLI2_RPC=<YOUR_GOERLI2_RPC_URL>
DATABASE_URL="postgres://shovel_user:shovel_1234@localhost:5432/shovel"
IPFS_USERNAME=<INFURA_IPFS_USERNAME>
IPFS_PASSWORD=<INFURA_IPFS_PASSWORD>
